@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(LibreBaskerville-Regular.ttf) format("truetype");
}

html,
body {
    background-color: #181818;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

*:not(pre):not(code):not(span) {
    color: #dfdfdf;
    font-family: "Libre Baskerville", Arial;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.55;
}

.button {
    text-decoration: underline;
}

summary {
    cursor:pointer;
}

#student-list {
    text-decoration: underline;
}