
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#file-list {
    display: flex;
    width: 400px;
    justify-content: left;
    flex-direction: column;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
