<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="../../styles/student.css">
</head>
<body>
    <h1>{ file }</h1>
    <!-- File hierarchy -->
    <a href="../../index.html">Student List</a>
    <div style="display:flex;">
        <section>
            {{ for file in files }}
                <div>
                    <a href="./{ file.html_path }">{ file.java_path }</a>
                </div>
            {{ endfor }}
        </section>
        <section>
            <pre>
                <code class="language-java">
                    { code }
                </code>
            </pre>
        </section>

        <section>
            tests
        </section>

    </div>
    
</body>
</html>