#container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#file-list,
#test-results {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#file-list {
    flex-grow: 5;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 650px;
    border-right: 1px solid #dfdfdf;
    border-image: linear-gradient(to top, #dfdfdf 0%, #181818 100%) 1;
}

h1 {
    text-align: center;
}

#test-results {
    flex-grow: 1;
    min-width: 350px;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#student-list {
    position: absolute;
    left: 50px;
    top: 50px;
}
