
header {
    display: flex;
    width: 100%;
}

.left,
.middle,
.right {
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: row;;
    min-width: 0;
}

.left {
    display: flex;
    flex-direction: row;;
    gap: 20px;
}

#container {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

#left-sidebar.open {
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
}

#right-sidebar.open {
    padding-right: 10px;
    padding-left: 10px;
    width: 500px;

}

#left-sidebar,
#right-sidebar {
    width: 0;
    overflow: hidden; /* Hide content when collapsed */
    display: flex;
    flex-direction: column;
}

#left-sidebar a,
#right_sidebar * {
    font-size: 14px;
}

#back-button,
#left-sidebar-button,
#bottom-sidebar-button,
#right-sidebar-button,
#open-tests {
    border: none;
    cursor: pointer; /* Pointer cursor on hover */
    background-color:transparent;
    text-decoration:underline;
}

#prev-next-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

#code {
    min-width: 0;
    flex-grow: 4;
    display: flex;
}

#code pre {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

code {
    flex-grow: 1;
}
