<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
</head>
<body>
    <h1>{{ path }}</h1>
    <!-- File hierarchy -->
     <section>
        {for }
     </section>
    
    <pre><code >
        #include <stdio.h>
        int main() {
            printf("Hello world");
            return 0;
        }

    </code></pre>
</body>
</html>