
#container {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

#left-sidebar.open {
    width: fit-content;
}

#left-sidebar {
    width: 0;
    position:relative;
    overflow: hidden; /* Hide content when collapsed */
}

#left-sidebar-button {
    position: absolute;
    right:-20;
    top: 0;
    rotate: 90deg;
    border: none;
    color: #181818;
    cursor: pointer; /* Pointer cursor on hover */
}

#prev-next-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

#left-sidebar,
#test-results {
    display: flex;
    flex-direction: column;
}

#code {
    min-width: 0;
    flex-grow: 4;
}

#student-list {
    position: absolute;
    left: 50px;
    top: 50px;
}
